#*
*.beam
*.dump
*.o
*.plt
*~
.#*
.eunit
.local_dialyzer_plt
.rebar
/.eunit
/docs
/ebin
deps
dialyzer.ignore-warnings
dialyzer_unhandled_warnings
dialyzer_warnings
ebin
ebin/gen_hypar.app
erl_crash.dump
priv
